USE [master]
GO
/****** Object:  Database [FDC_Test]    Script Date: 6/05/2024 7:55:17 p. m. ******/
CREATE DATABASE [FDC_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FDC_Test', FILENAME = N'C:\SQL Server Data\FDC_Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FDC_Test_log', FILENAME = N'C:\SQL Server Data\FDC_Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FDC_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FDC_Test]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 6/05/2024 7:55:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 6/05/2024 7:55:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[DepartamentoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 6/05/2024 7:55:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[ResponsableId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([Id], [Nombre]) VALUES (1, N'Departamento de Ventas')
INSERT [dbo].[Departamentos] ([Id], [Nombre]) VALUES (2, N'Departamento de Recursos Humanos')
INSERT [dbo].[Departamentos] ([Id], [Nombre]) VALUES (3, N'Departamento de Tecnología')
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([Id], [Nombre], [DepartamentoId]) VALUES (1, N'Juan Perez', 1)
INSERT [dbo].[Empleados] ([Id], [Nombre], [DepartamentoId]) VALUES (2, N'María López', 2)
INSERT [dbo].[Empleados] ([Id], [Nombre], [DepartamentoId]) VALUES (3, N'Pedro Ramirez', 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Proyectos] ON 

INSERT [dbo].[Proyectos] ([Id], [Nombre], [ResponsableId]) VALUES (1, N'Implementación del sistema de gestión de ventas', 1)
INSERT [dbo].[Proyectos] ([Id], [Nombre], [ResponsableId]) VALUES (2, N'Reestructuración del proceso de reclutamiento', 2)
INSERT [dbo].[Proyectos] ([Id], [Nombre], [ResponsableId]) VALUES (3, N'Desarrollo de una nueva aplicación móvil', 3)
SET IDENTITY_INSERT [dbo].[Proyectos] OFF
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD FOREIGN KEY([ResponsableId])
REFERENCES [dbo].[Empleados] ([Id])
GO
USE [master]
GO
